<div class="modal-header">
  <h3 class="modal-title">Task</h3>
</div>
<div class="modal-body">
  <form>

    <div class="form-group">
      <avatar ng-if="options.member.id" member-id="options.member.id" size="avatar-md" style="float:left;"></avatar>
      <h2>{{ options.member.username }}</h2>
    </div>
    <br><br>

    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" ng-model="options.task.title" placeholder="Task title">
    </div>

    <div class="form-group">
      <label>Start Date</label>
      <input type="date" class="form-control" ng-model="options.task.start">
    </div>

    <div class="form-group">
      <label>End Date</label>
      <input type="date" class="form-control" ng-model="options.task.end">
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
