<!-- search form (Optional) -->
<div class="sidebar-form">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search..." ng-model="filterByName">
    <span class="input-group-btn">
      <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
    </span>
  </div>
</div>
<!-- /.search form -->

<!-- Sidebar Menu -->
<ul class="sidebar-menu">
  <li class="header">
    MEMBERS
  </li>
  <li ng-repeat="member in members | filter: { username: filterByName }" ng-model="member" ng-click="select(member.id)">
    <a href="#"><i ng-class="avatar(member)"></i>&nbsp;{{ member.username}}</a>
  </li>
</ul>
